<div class="container">
    <div class="row" id="video-list">
        <div class="col-sm-5">
            <!--                    <div class="filter-form">-->
            <label for="filter-text">Filter Videos</label>
            <input class="form-control" 
                   name="search-video" 
                   [(ngModel)]="searchVideo" 
                   placeholder="Type few characters from video title"/>
            <!--        </div>-->
            <br>
            <h3>List of Videos</h3>
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let viddy of revVideoList | filter:{vidname: searchVideo}"
                    (click)="selectViddy(viddy)"
                    [class.active]="viddy === selectedViddy">
                    {{viddy.vidname}}
                </li>
            </ul>
            <button class="btn btn-warning" (click)="createNewViddy()">New</button>
        </div>

        <div class="col-sm-6 col-md-offset-1">
            <div class="row">
                <viddy-details
                                 [viddy]="selectedViddy"
                                 [createHandler]="addViddy"
                                 [updateHandler]="updateViddy"
                                 [deleteHandler]="deleteViddy">
                </viddy-details>
            </div>

            <div class="row">
                <h3 *ngIf="selectedViddy">{{selectedViddy.vidname}}</h3>
            </div>

            <table>
                <tbody>
                    <tr>
                        <td id="fbURLhtml" colspan="3">
                            Selected Video will appear here
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-warning" (click)="scrollToVideoList()"> Top </button>
                        </td>
                        <td>
                            <a target="_blank" 
                               href="/tag/{{fbVideoTag}}">Click to open video</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

