<div class="container">

    <!-- This is the block with the video    -->

    <div [hidden]="editViddy || !selectedViddy">

        <table>
            <tbody>

                <tr>
                    <th *ngIf="selectedViddy"> 
                        <a target="_blank" href="/tag/{{fbVideoTag}}"><h3>{{selectedViddy.vidname}}</h3></a>
                    </th> 
                </tr>
                <tr>
                    <td id="fbURLhtml"> </td>
                </tr>

            </tbody>
        </table>

    </div>

    <!-- This is the Meta Data Panel   -->

    <div class="row" *ngIf="editViddy">
        <viddy-details
                       [showPanel]="editViddy"
                       [viddy]="selectedViddy"
                       [createHandler]="addViddy"
                       [updateHandler]="updateViddy"
                       [deleteHandler]="deleteViddy">
        </viddy-details>
    </div>


    <div id="video-list">

        <div class="row" >



            <!-- this doesn't seem relevant anymore
<button class="btn btn-warning" align="right" style="float: right;" (click)="scrollToVideoList()">List</button>
-->

        </div>

        <!-- This is the Video List  -->


        <div class="row">

            <div class="panel panel-default">

                <div class="panel-heading">

                    <div layout="row" layout-margin> 
                        <label for="filter-text">Filter Videos</label>

                        <input class="form-control row" 
                               name="search-video" 
                               (focus)="focusVideoList()"
                               [(ngModel)]="searchVideo" 
                               placeholder="Type few characters from video title"/>

                    </div>
                </div>
            </div>

            <div>
                <label><font size="+2"> My Video Collection </font></label>

                <button class="btn btn-success" align="right" style="float: right;" 
                        *ngIf="!editViddy" (click)="createNewViddy()">New Video</button>
                <button class="btn btn-primary" alight="right" style="float: right;" 
                        *ngIf="!editViddy" [disabled]="selectedViddy==null" (click)="setEditViddy()">Edit Meta</button>
                <button class="btn btn-info" style="float: right;" 
                        *ngIf="editViddy" (click)="setEditViddy()">Close Meta</button>
            </div>

            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let viddy of revVideoList | filter:{vidname: searchVideo}"
                    (click)="selectViddy(viddy)"
                    [class.active]="viddy === selectedViddy">
                    {{viddy.vidname}}
                </li>
            </ul>

        </div>


    </div>

</div>

