<div *ngIf="contact">
    
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h4 *ngIf="contact._id">Metadata for selected video</h4>
            <h3 *ngIf="!contact._id">New Video</h3>
        </div>
        
        <div class="panel-body">        

            <form class="form-group">
                <div class="form-group">
                    <label for="contact-vidname">Video Title</label>
                    <input class="form-control" name="contact-vidname" [(ngModel)]="contact.vidname" placeholder="Video Title"/>
                </div>
                <div class="form-group">
                    <label for="contact-vtag">Video Tag</label>
                    <input class="form-control" name="contact-vtag" [(ngModel)]="contact.videotag" placeholder="my-video-label"/>
                </div>
                <div class="form-group">
                    <label for="contact-username">username</label>
                    <input class="form-control" name="contact-username" [(ngModel)]="contact.username" placeholder="username"/>
                </div>
                <div class="form-group">
                    <label for="contact-fburl">FB video URL</label>
                    <input class="form-control" name="contact-fburl" [(ngModel)]="contact.fburl" placeholder="http://www.facebook.com/yourvideo.html"/>
                </div>
                <div class="form-group">
                    <label for="contact-embedurl">FB embedded frame URL</label>
                    <input class="form-control" name="contact-embedurl" [(ngModel)]="contact.embedurl" placeholder="http://www.facebook.com/yourvideo.html"/>
                </div>
                <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
                <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
                <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
            </form>

        </div>

    </div>
    
</div>