<div *ngIf="showPanel">

    <div class="panel panel-default">

        <div id="edit-panel" class="panel-heading">
            <label *ngIf="viddy._id"><code>metadata for</code><h4>{{viddy.vidname}}</h4></label>
            <label *ngIf="!viddy._id"><code>input data for</code><h3>New Video</h3> </label> 
        </div>

        <div class="panel-body">        

            <form class="form-group">
                <div class="form-group">
                    <label for="viddy-vidname">Video Title</label>
                    <input class="form-control" name="viddy-vidname" [(ngModel)]="viddy.vidname" placeholder="Video Title"/>
                </div>
                <div class="form-group">
                    <label for="viddy-vtag">Video Tag</label>
                    <input class="form-control" name="viddy-vtag" [(ngModel)]="viddy.videotag" placeholder="my-video-label"/>
                </div>
                <div class="form-group">
                    <label for="viddy-username">username</label>
                    <input class="form-control" name="viddy-username" [(ngModel)]="viddy.username" placeholder="username"/>
                </div>
                <div class="form-group">
                    <label for="viddy-fburl">FB video URL</label>
                    <input class="form-control" name="viddy-fburl" [(ngModel)]="viddy.fburl" placeholder="http://www.facebook.com/yourvideo.html"/>
                </div>
                <div class="form-group">
                    <label for="viddy-embedurl">FB embedded frame URL</label>
                    <input class="form-control" name="viddy-embedurl" [(ngModel)]="viddy.embedurl" placeholder="http://www.facebook.com/yourvideo.html"/>
                </div>
                <button class="btn btn-primary" *ngIf="!viddy._id" (click)="createViddy(viddy)">Create</button>

                <button class="btn btn-info" *ngIf="viddy._id" (click)="updateViddy(viddy)">Update</button>
                <button class="btn btn-danger" *ngIf="viddy._id" (click)="deleteViddy(viddy._id)">Delete</button>
            </form>

        </div>

    </div>

</div>